# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 환경 변수
.env
.env.*

# AWS 관련 설정 (혹시라도 홈 디렉토리에서 가져오거나 공유되는 경우)
.aws/

# 배포용 zip 파일
*.zip
server.zip
